* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
@import "block/vars";

@import "block/header";

@import "block/intro";

@import "block/offer";

.products {
    margin-top: 96px;
    margin-bottom: 95px;
}
.products__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products__heading {
    font-size: 30px;
    font-weight: normal;
    line-height: 36px;
    color: #222222;
    text-align: center;
}
.products__text {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
    margin-bottom: 48px;
}
.product__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.product__card {
    position: relative;
    background-color: #F8F8F8;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.product__img {
    width: 100%;
}
.product__card__info {
    max-width: 314.74px;
    padding-top: 25.35px;
    padding-bottom: 20px;
}
.product__card__heading {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}
.product__card__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    color: #5D5D5D;
    margin-top: 12.65px;
    margin-bottom: 18px;
}
.product__card__price {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}
.card__hover {
    position: absolute;
    padding: 185px 110px;
    background: rgba(58, 56, 56, 0.86);
    opacity: 0;
    transition: 0.5s;
}
.card__hover:hover {
    opacity: 1;
}
.card__hover_btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 12px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    fill: #FFFFFF;
    text-align: center;
    border: 1px solid #FFFFFF;
    background: transparent;
}
.products__button {
    margin-top: 18px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-align: center;
    padding: 15px 39px;
    border: 1px solid #FF6A6A;
    background-color: #FFFFFF;
}
.products__button:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}
@import "block/features";

@import "block/subscribe";

@import "block/footer";

.section-header {
    background-color: #F8F3F4;
    &__wrap {
        padding-top: 66px;
        padding-bottom: 66px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: $main-color;
    }
    }
.catalog-menu {
        &__list {
            display: flex;
            list-style: none;
            font-size: 14px;
            line-height: 17px;
        }
        &__item a {
            color: #636363;
        }
        &__item a:hover {
            color: $main-color;
        }
        &__item:not(:last-child)::after {
            content: "/";
            padding-left: 5px;
            padding-right: 5px;
        }
    }


.products__catalog-page {
    margin-top: 0px;
}

.filtres {
    align-self: normal;
    display: flex;
}
.filter {
    position: relative;
    margin: 51px 0 64px 18px;
    max-width: 360px;
    width: 100%;
    &__heading {
        list-style: none;
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
    }
    &__heading:hover {
        cursor: pointer;
        color: $main-color;
        fill: $main-color;
    }
    &__item {
        background-color: #FFFFFF;
    }
    &__item:not(:last-child) {
        margin-bottom: 18px;
    }
    &__item>ul>li {
        list-style-type:none;
        padding: 11px;
        a {
            color: #6F6E6E;
        }
    }
    &__item>summary {
        list-style: none;
        color: $main-color;
        font-size: 14px;
        line-height: 16px;
        border-left: 5px solid $main-color;
        border-bottom: 1px solid #ebebeb;
        padding: 11px;
    }
    &__items {
        cursor: pointer;
        max-width: 327.5px;
        width: 100%;
        padding: 16px 0;
        position: absolute;
        z-index: 1;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    }
}

.sort {
    position: relative;
    display: flex;
    align-items: center;
    &__list {
        cursor: pointer;
        margin-right: 28px;
    }
    &__heading {
        list-style: none;
    }
    &__absolute {
        position: absolute;
        padding: 7px 40px 6px 11px;
        z-index: 1;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        ul>li {
            list-style-type: none;
        }
    }
}
.catalog__pages {
    margin-top: 18px;
    border: 1px solid rgb(209, 209, 209);
    padding: 16px 10px;
}
.catalog__pages__link {
    margin: 8px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: rgb(209, 209, 209);
}
.catalog__pages__link:hover {
    color: #EF5B70;
}
.product__slider {
    background-color:#F7F7F7;
    border:1px solid #EAEAEA;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product__slider__image {
    max-width: 600px;
    width: 100%;
    padding-bottom: 65px;
}
.slider__button {
    padding: 13px 17px;
    background-color: #E5E5E5;
    border: none;
}
.slider__button:hover {
    fill: #F16D7F;
}
.product__cards__product-page {
    margin-bottom: 98px;
    margin-top: 128px;
}
.product__card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E5E5E5;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-top: -65px;
    background-color: #FFFFFF;
}
.product__card2__heading {
    color: #F16D7F;
    font-size: 14px;
    line-height: 17px;
}
.product__card2__info {
    text-align: center;
    border-bottom: 1px solid #EAEAEA;
    max-width: 641px;
    padding-bottom: 65px;
    padding-top: 12px;
}
.product__card2__info__heading {
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    margin-bottom: 48px;
}
.product__card2__info__text {
    max-width: 528px;
    font-size: 14px;
    line-height: 17px;
    color: #5E5E5E;
    margin-bottom: 32px;
}
.product__card2__price {
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
}
.product__card2__sort {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 60px;
    padding-bottom: 45px;
}
.product__card2__sort p:not(:last-child) {
    margin-right: 23px;
}
.product__card2__sort p::after {
    margin-left: 9px;
   content: url(../img/sort-icon.svg);
}
.product__card2__btn  button{
    fill: #F26376;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid;
    display: flex;
    align-items: center;
    color: #F26376;
    background-color: transparent;
    padding: 10px 50px 10px 25px
}
.product__card2__btn  button:hover {
    background-color: #F16D7F;
    fill: #FFFFFF;
    color: #FFFFFF;
}