.features {
    background-color: #222224;
    &__wrap {
        padding: 104px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card {
        max-width: 305px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__card h3{
        margin-top: 28px;
        margin-bottom: 16px;
        font-size: 19.96px;
        line-height: 24px;
        color: #FBFBFB;
    }
    &__card p {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
    }
}