.header {
    background-color: #222222;
    padding: 19px 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    &__flex {
        display: flex;
        justify-content: space-between;
    }
    &__one a:not(:last-child) {
        margin-right: 41px;
        text-decoration: none;
    }
    &__one a:last-child:hover {
        opacity: 0.6;
    }
    &__two {
        display: flex;
        align-items: center;
    }
    &__two a {
        fill: #FFFFFF;
    }
    &__two a:hover {
        opacity: 0.6;
    }
    &__two a:not(:last-child) {
        margin-right: 33px;
    }
    .cart-icon-decor:hover {
        opacity: 0.6;
    }
    .cart-icon-decor {
        position: relative;
             &__circle {
            position: absolute;
            width: 19px;
            height: 19px;
            border-radius: 100%;
            background-color: $main-color;
            top: -8px;
            right: -8px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            font-size: 12px;
            line-height: 14px;
            font-weight: 400;
            }
        }
}